.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 5fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 7vmin;
    justify-items: center;
    align-items: center;
    margin-bottom: 14px;
}

.images img {
    z-index: 1;
    grid-column: span 2;
    max-width: 100%;
    margin-bottom: -52%;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all 0.25s;
}
.images img:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}
.images img:hover {
    z-index: 2;
    transform: scale(2);
}
.images {
    width: 100%;
}
.desc {
    margin: 50px 200px;
}
h2,
h3 {
    color: white;
    text-align: center;
}
p {
    color: white;
}
@media only screen and (max-width: 600px) {
    .images img:hover {
        transform: scale(5);
    }
    .gap {
        display: none;
    }
    .wrapper {
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 5vmin;
    }
    .desc {
        margin: 50px 25px;
    }
    p {
        font-size: 0.7rem;
    }
}
