* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-adit-logo {
    margin-right: 15px;
}
.nav-link:hover {
    color: #ff0000 !important;
}
.footer {
    margin-top: 40px;
    color: #fff;
    text-align: center !important;
}
.footer .fabIcons a {
    color: inherit;
}
.footer .fabIcons i {
    font-size: 30px;
    padding: 10px;
    margin: 2px;
}
.footer p {
    font-size: 15px;
    text-align: center;
}
