body {
  /* The image used */
  /* background-image: url("img_parallax.jpg"); */
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collapse {
  padding-left: 20px;
  display: flex;
}

.header1 {
  display: flex;
  background-color: red;
}

.nav-item {
  background-color: #000;
  color: #000;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: red;
}

.bg-custom-090a0f {
  background-color: black;
}

.logo {
  border-radius: 50%;
  background-color: #1b2735;
}

.icons {
  display: flex;
}
