.section1 {
    text-align: center;
}
.section1 .InspiroLogo {
    width: 50%;
    height: 50%;
}
.content {
    margin-top: 50px;
    color: #fff;
    width: auto;
}
.content p.heading {
    text-align: center;
    font-size: 40px;
}
.content p.text {
    text-align: justify;
    font-size: 18px;
    max-width: 800px;
    padding: 10px 20px;
    margin: 0px auto;
}
p.datetime-string {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    letter-spacing: 2px;
    word-spacing: 5px;
}
p.datetime-string::after {
    animation: blink 1s steps(24) infinite;
}
p.datetime-string #blue {
    color: #02aae5;
}
p.datetime-string #red {
    color: #f72315;
}
.buttonContainer button,
.buttonContainer button::after {
    padding: 12px 14px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    outline: transparent;
    position: relative;
}

.buttonContainer button {
    margin: 5px 20px;
}
.buttonContainer button#blue {
    background: linear-gradient(45deg, transparent 5%, #02aae5 5%);
}
.buttonContainer button#red {
    background: linear-gradient(45deg, transparent 5%, #f72315 5%);
}
@media only screen and (max-width: 600px) {
    .section1 .InspiroLogo {
        margin-top: 40px;
        width: 100%;
    }
    .section1 p.datetime-string {
        font-size: 20px;
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .section1 .InspiroLogo {
        margin-top: 40px;
        width: 100%;
    }
    .section1 p.datetime-string {
        font-size: 25px;
        margin-bottom: 40px;
    }
}
@media only screen and (min-width: 600px) {
    .section1 .InspiroLogo {
        width: 50%;
    }
    .section1 p.datetime-string {
        font-size: 30px;
    }
}
@media only screen and (min-width: 992px) {
    .section1 .InspiroLogo {
        width: 500px;
        height: 50%;
    }
    .section1 p.datetime-string {
        font-size: 50px;
    }
}
